
nav {
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    font-size: 19px;
    width: 100%;
}
nav ul {
    display: flex;
    align-content: center;
    margin-left: 35%;
   
}

nav ul li {
    margin-left: 30px;
    list-style: none;
    
}
nav ul li a {
    color: black;
    text-decoration: none;
}
.get-started a{
    margin-left: 120px;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid rgb(83, 83, 240);
    background-color: rgb(83, 83, 240);
    color: #FFFFFF;
    
}
.home-page {
    margin-left: 20px;
}

.why-us {
    margin-top: 30px;
    height: 300px;
    width: 100%;
    background-color: #E6E6E6;
}
.why-us-title {

    text-align: center;
    font-weight: bold;
    font-size: 35px;
    
}
.why-us-content {

    font-weight: bold;
    font-size: 25px;
}
.career-selection {
    
    height: 1100px;
    width: 100%;
    background: #FBF8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.career-select-title {
    font-family:Roboto;
    font-Weight :700, Bold;
    font-size:36px;
    line-height:42.19px;
    padding-top: 5px;
    text-align: center;
}
.career-selection-description {
    width: 750px;
    margin-left: 30%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
}
.career-items {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    column-gap: 100px;
    row-gap: 40px;
    margin-left: 120px;
    
}
.career-one{
    height: 330px;
    width: 500px;
    padding-top: 30px;
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
    text-align: center;

}
.career-two {
    height: 330px;
    width: 500px;
    padding-top: 30px;
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
    text-align: center;
}
.career-three{
    height: 330px;
    width: 500px;
    padding-top: 30px;
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
    text-align: center;
}
.career-four{
    height: 330px;
    width: 500px;
    padding-top: 30px;
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
    text-align: center;
}
.career-five{
    height: 330px;
    width: 500px;
    padding-top: 30px;
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
    text-align: center;
}
.career-six{
    height: 330px;
    width: 500px;
    padding-top: 30px;
    background: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 30px;
    text-align: center;
}
.career-one img{
  
    height: 160px;
    width: 160px;
    margin-right: 30px;
    text-align: center;

}
.career-title {
    margin-right: 30px;
    font-weight: bold;
    font-size: 30px;
}
.career-info {

    width: 400px;
    text-align: center;
    margin-left: 50px;
    font-size: 18px;
}
.career-two img{
  
    height: 160px;
    width: 160px;
    margin-right: 30px;
    text-align: center;

}
.career-three img{
  
    height: 160px;
    width: 160px;
    margin-right: 30px;
    text-align: center;

}
.career-four img{
  
    height: 160px;
    width: 160px;
    margin-right: 30px;
    text-align: center;

}
.career-five img{
  
    height: 160px;
    width: 160px;
    margin-right: 30px;
    text-align: center;

}
.career-six img{
  
    height: 160px;
    width: 160px;
    margin-right: 30px;
    text-align: center;

}
.choose-us {
    padding-top: 10px;
    margin-top: 15px;
    height: 820px;
    width: 100%;
    background: rgb(226, 225, 225);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.choose-us-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.choose-us-experince-detail {

    margin-left: 82px;
    margin-right: 72px;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;

}
.choose-us-circle {

        height: 300px;
        width: 300px;
        background-color: #aaa7a7;
        border-radius: 50%;
}
.choose-us-circle-parent {

    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}
.choose-us-circle-content-title {
    font-size: 36px;
    font-weight: bold;
}
.choose-us-circle-content-sub-title {

    width: 450px;
    text-align: center;
    margin-left: -70px;
    margin-top: -30px;
}
.our-partners {

    height: 600px;
    width: 100%;
    background: #F8EFEF;
    margin-top: 10px;
}
.our-partners-title {

    font-size: 36px;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 20px;
}
.our-parteners-content {
    margin-top: 20px;
    height: 370px;
    width:370px;
    background: #aaa7a7;
}
.our-parteners-contents-container {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}
.our-partners-scroll-dot {
    margin-left: 834px;
    margin-top: 20px;
}
.dot {
    height: 25px;
    width: 18px;
    margin: 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    align-content: space-between;
  }
.blog {
    height: 900px;
    width: 100%;
    background: #C4C4C4;
}
.blog-title {

    font-size: 36px;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
}
.contact-us {

    height: 900px;
    width: 100%;
    background-color: #FAF3F3;
}
.contact-us-title {

    font-size: 36px;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
}
