.mySlides {
    display: none;
}

.partners img {
    width: 80%;
    height: 80%;
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    margin-top: 5%;
	height: 90%;
    width: 100%;
    /* display: flex; */
}

.partners {
	width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.partner {
	width: 18%;
    height: 50%;
    display: flex;
    overflow: hidden;
    border-radius: 200px;
    justify-content: center;
    align-items: center;
    background-color: #bbb;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}